.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: #1877f2;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;

    .topbarLeft {
    flex: 3;

    .logo {
      font-size: 24px;
      margin-left: 20px;
      font-weight: bold;
      color: white;
      cursor: pointer;

        @media only screen and (max-width: 700px) {
          font-size: 14px;
        }
      }
  }
    
  .topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;

    .topbarIcons {
      display: flex;
    
      .topbarIconItem {
        margin-right: 15px;
        cursor: pointer;
        position: relative;
        
        @media only screen and (max-width: 700px) {
          margin-right: 10px;
        }
    
        .topbarIconBadge {
          width: 15px;
          height: 15px;
          background-color: red;
          border-radius: 50%;
          color: white;
          position: absolute;
          top: -5px;
          right: -5px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
        }
      }
    }

    .topbarImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      cursor: pointer;

      @media only screen and (max-width: 700px) {
        margin-right: 7px;
      }
    }
    
    .signout{
      color: white;
      cursor: pointer;

      @media only screen and (max-width: 700px) {
        font-size: 12px;
        
      }
    }
  }
}

.topbarLink {
  font-size: 14px;
  cursor: pointer;
}

.hamburger{
  color: white;
  display: none;

  @media only screen and (max-width: 700px) {
    display: block;
  }

}

.hamburgerList {
  position: fixed;
  width: 150px;
  top: 50px;
  padding-top: 10px;
  height: 170px;
  background-color: #1877f2;
  list-style: none;
  display: none;


  @media only screen and (max-width: 700px) {
    display: block;
    z-index: 3;
  }

  .hamburgerListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: white;
    list-style: none;
    
  }
}

.hamburgerClose{
  display: none;
}

.hamburgerListLink{
  text-decoration: none;
}








